<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> This is the Papa web application for education</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      Please <a "https://login-3-yonakahara.c9users.io/login_form"><em>login</em></a> to access your todos, notices and to message people.
      This is an web application for middle and high school students of Nishiyamato Gakuen High School in Nara, Japan.
      Made as part of 未踏ジュニア２０１７
    </p>
  </body>
</html>