<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %>, Welcome to PAPA!</h1>
      <p>
      Your account has been created successfully.
      Your username is: <%= @user.name %>.<br>
    </p>
    <p>
      Click <%= @url %> to log in.
    </p>
    <p>Thank you for joining us! Have a nice trip here!</p>
  </body>
</html>