<h3>Signup</h3>

<%= form_tag("/create") do %>

    <div>Your Name</div>

        <input name="name">
        
    <div>Email</div>    
    
        <input name="email">

    <div>Password</div>
    
        <input name="password" type="password">
        
    <input type="submit" value="signup">
    
<% end %>